
.ant-input {
  border-radius: 5px;
}

.ant-input-number-input {
  border-radius: 5px;
}

.ant-select{
  border-radius: 5px;
}

.ant-select, .ant-select-selector{
    border-radius: 7px;
}

.nt-select-selection-search{
    border-radius: 7px;
}