  .custom-form{
  :where(.css-dev-only-do-not-override-fpg3f5).ant-form-item .ant-form-item-label{transform: translateY(30px) translateX(10px); position: relative;padding-bottom: 0;transition: transform 0.3s ease-in-out;}
  .ant-form-item-control-input-content input{background: transparent;}
  .ant-form-item-with-help .ant-form-item-label, .ant-form-item-has-success .ant-form-item-label{transform: translateY(10px) translateX(12px);
    padding-bottom: 0;  width: fit-content;  background-color: #fff;  display: inline-block;  z-index: 1;}
    :where(.css-dev-only-do-not-override-fpg3f5).ant-input::nth-of-type(3) {display: none;}
    .ant-form-item-row:focus-within .ant-form-item-label {
      transform: translateY(10px) translateX(12px);
    padding-bottom: 0;  width: fit-content;  background-color: #fff;  display: inline-block;  z-index: 1;
    }
    :where(.css-dev-only-do-not-override-fpg3f5).ant-form-item{margin-bottom: 0;}
    .label-static .ant-form-item-label,.label-static .ant-form-item-row:focus-within .ant-form-item-label{transform: none;}
  }