#outlet-container{
    border: 10px solid blue;
    position: relative;
    margin-top: 5%;

}

@media  (max-width:991px){
    #outlet-container{
        border: 10px solid black;
        height: 100vh;
    }
}

@media  (min-width:992px){
    #outlet-container{
        margin-left: 5%;
        border: 10px solid black;
        height: 100vh;
    }
}